.app {
  text-align: center;
}

.header-container {
  display: flex;
  padding: 8px 16px;
}

.header-logo {
  padding: 8px;
  text-decoration: none;
  color: black;
}

.header-right-items {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.header-item {
  padding: 8px 24px;
  text-decoration: none;
  color: black;
}

.header-item:hover {
  color: #c07c7c;
}

.content {
  margin-top: 16px;
}